
<span class="badge bg-primary">
  <span>icono</span>
  Primary
</span>
<span class="badge bg-secondary">Secondary</span>
<span class="badge bg-success">Success</span>
<span class="badge bg-danger">Danger</span>
<span class="badge bg-warning text-dark">Warning</span>
<span class="badge bg-info text-dark">Info</span>
<span class="badge bg-light text-dark">Light</span>
<span class="badge bg-dark">Dark</span>

<br>

<!--
  Alternativa input "value"
  <app-badge tier="secondary" value="Secondary"></app-badge>
-->
<!-- Alternativa Proyección de contenido -->
<app-badge tier="primary">Primary</app-badge>
<app-badge tier="secondary">Secondary</app-badge>
<app-badge tier="success">Success</app-badge>
<app-badge tier="danger">Danger</app-badge>
<app-badge tier="warning">Warning</app-badge>
<app-badge tier="info">Info</app-badge>
<app-badge tier="light">Light</app-badge>
<app-badge tier="dark">Dark</app-badge>
<br>
<app-button tier="primary">
  <i end class="fa fa-star-o" aria-hidden="true"></i>
  Primary
</app-button>
<app-button tier="primary">
  Primary
  <i start class="fa fa-star-o" aria-hidden="true"></i>
</app-button>
<app-button tier="secondary">Secondary</app-button>